snippet ali "Align environment"
\begin{align}
	$1
\end{align}

$0
endsnippet

snippet img "Centered image"
\begin{center}
\includegraphics[scale=$2]{$1}
\end{center}
$0
endsnippet

snippet bf "Boldface"
\textbf{$1}
endsnippet

snippet it "Italicized"
\textit{$1}
endsnippet
